.home {
  width: 100%;
  height: 100%;
  .ant-layout {
    width: 100%;
    height: 100%;
    .ant-layout-header {
      padding: 0;
      height: 60px;
      line-height:normal;
    }
    .ant-layout-sider {
      background-color: #fff;
      width: 130px !important;
      flex: 0 0 130px !important;
      max-width: 130px !important;
      min-width: 130px !important;
    }
    .ant-layout-content {
      display: flex;
      flex-direction: column;
      padding: 60px;
      padding-top: 20px;
      .content_main {
        flex: 1;
      }
    }
    .ant-layout-footer {
      padding: 0;
    }
  }
}