@import url('//at.alicdn.com/t/font_935714_mt29wwf3ldf.css');
.ant-message-notice-content {
  min-width: 200px !important;
}
.tools {
  margin-top: 20px;
  .ant-input {
    // height: 40px;
  }
  .ant-input-search {
    margin: 0 20px;
  }
  .ant-select {
    // height: 40px;
    margin-right: 20px;
    .ant-select-selection--single {
      // height: 40px;
      .ant-select-selection__rendered {
        // line-height: 40px;
      }
    }
  }
  .ant-btn {
    margin-right: 15px;
  }
}
.ant-table-wrapper {
  margin-top: 30px;
  .no_paymeny {
    padding-left: 6px;
  }
  .icon-zhifubao1 {
    color: #0f94d6;
  }
  .icon-weixin {
    color: #58bc47;
  }
  .icon-bank-card {
    color: #e6a23c;
  }
  .ant-table-thead {
    th {
      color: #909399;
      font-weight: 600;
      background-color: #e4e9f2;
    }
  }
  .ant-table-tbody {
    td {
      background-color: #fff;
    }
  }
}
.ant-btn-danger {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.ant-btn-danger:hover {
  background: #ebb563;
  border-color: #ebb563;
}
.ant-btn-danger:focus {
  color: #fff;
  background: #ebb563;
  border-color: #ebb563;
}






body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
  height: 100%;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 0;
}
table th,
table td {
  border: 0;
}
ul,
ol {
  list-style: none;
}
img,
input,
button,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
}
input:-webkit-autofill {
  background-image: none;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{  
  -webkit-appearance:textfield;
}     
input[type="number"]{ 
  -moz-appearance:textfield;  
}  
input::placeholder, textarea::placeholder { 
  font-size: 14px;
} 
textarea,
input,
select {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
img {
  border: none;
  overflow: hidden;
}
a:link,
a:visited {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
